<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div th:fragment="content" th:class="container">
  <div th:block><!-- 테이블 추가 이벤트 -->
    <div class="btn-wrapper" style="margin-bottom: 10px;"></div>
        <div th:id="grid"><h2>pay</h2></div>
            <div>
                <form name="sampleFm">
                  <button type="button" onclick="SettlePay.execute(sampleFm)">열기</button>
                </form>
            </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
    });

  </script>
</div>
</html>
